.order {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.order .orderTitle {
    font-family: cursive;
    font-size: 60px;
}

.orderList {
    width: 100vw;
    height: auto;
    display: inline;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.orderItem {
    border-radius: 15px;
    width: 50%;
    height: 200px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.orderItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.orderItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.orderItem h1,
.orderItem p {
    margin-left: 20px;
}
@media only screen and (max-width: 1300px) {
    .orderList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .orderList {
        grid-template-columns: 1fr;
    }
}
